@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
div, a { font-family: 'Play' !important; text-decoration: none !important; }

.d-inline.font-weight-bold {
    display: block !important;
}

.navbar .container-fluid {
    margin: 0px 0 2px -16px;
}


.content  h1 {
    overflow: hidden;
    font-size: 16px;
}

  #commentpreviewplace .post-title-date + a,
  #commentpreviewplace .post-title-date {
    display: none;
}

.quotation  {
    font-size: 12px;
}


.comment-box__message-partial.comment-content {
    margin: 0px 0px 20px 0px;
    background: #f0f0f0;
    color: #999;
    padding: 0 4px;
    border: 1px solid #ffffff;
    outline: 1px solid #999999;
    text-transform: lowercase;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.comment-box__message-partial.comment-content a {
color: lightblue;
}

 .modal-content {
    max-height: 50vw;
    overflow: auto;
}
 .modal-content::-webkit-scrollbar {
width: 0;
}

 .my-menu.for-mobile.d-none.d-md-inline {
    display: none !important;
}

.blog__csrf-error {
    background: #f0f0f0 !important;
    box-shadow: none !important;
}

.blog__tags a {
    font-size: 12px !important;
}

[src="/i/logo2-deer.png"],
.bottombg [onclick="window.scroll({top: 0,behavior: 'smooth'})"],
.bottombg #page__rendertime.p-1,
.bottombg #footer.p-1,
.bottombg #page__admincontact,
.bottombg .footer__infolinks.p-1  {
    display: none;
}

[onclick="return showSpoiler(this)"] {
    color: lightblue;
}

[onclick="return showSpoiler(this)"]:hover {
    color: lightblue;
}

.left-menu:not(.notifications__comments)  .left-menu-text a {
   display: list-item; 
    list-style-type: disc; 
    list-style-position: inside; 
}
.left-menu:not(.notifications__comments)  .left-menu-text a::marker {
    content: '◉ '; 
    color: black; 
    font-size: 14px; 
        transition: 2s;
}
.left-menu:not(.notifications__comments)  .left-menu-text a:hover::marker {
        color: lightblue;
        transition: 0s;
}

.left-menu:not(.notifications__comments) .left-menu-text a::before {
content: '';
position: absolute;
width: 7px;
height: 1px;
border-bottom: 1px dotted #d0d0d0;
margin: 11px 0px 0px -23px;
}

#newpostform > form {
        border: 1px solid #999 !important;
 }

.modal-backdrop.show {
    z-index: 999999;
}

 .modal-body {
    background: #f0f0f0;
}
.modal-body a {
    color: black;
}
.modal-open .modal,
#addimagemodal {
    background: #add8e64a !important; 
    z-index: 9999999;
}
.modal-content {
    border-radius: 0;
    border: 1px solid #ffffff;
    outline: 1px solid #999999;
    box-shadow: 3px 3px 0 rgba(50, 50, 50, .1);
}
.close span {
        font-size: 0 !important;
}
.modal-header .close {
    background: url(https://i1.beon.fun/24/36/3624/44/1174644/44.png) no-repeat right !important;
        width: 24px;
        height: 24px;
    opacity: 1;
        margin: 0;
        padding: 0;
}

 .modal-footer {
    border-radius: 0;
    background: lightblue;
        padding: 6px;
        border-top: 1px solid #999;
        box-shadow: inset 0px 1px 0 #fff;
}
.modal-header {
        background: lightblue;
        padding: 6px !important;
        border-radius: 0;
        border-bottom: 1px solid #999;
        box-shadow: inset 0px -1px 0 #fff;
}

.content .comment-box h2 {
    font-size: 12px;
    text-transform: lowercase;
    width: max-content;
    height: max-content;
    margin: 0px 0px 20px 0px;
    background: #f0f0f0;
    margin-left: auto;
    color: #999;
    border: 1px solid #ffffff;
    outline: 1px solid #999999;
}
.content .comment-box {
    margin: 20px;
}

#fnplayer-play.paused:after {
        content: '❚❚';
        font-size: 16px;
        color: white;
        margin: 0px 4px 0px 0px;
}
#fnplayer-play:after {
        content: '▶';
        font-size: 16px;
        color: white;
}
#fnplayer-play.paused {
border: unset;
}
#fnplayer-play {
    background: lightblue;
    height: 28px;
    width: 28px;
    font-size: 0;
    border-radius: 50%;
    border: unset;
    position: absolute;
    top: 40px;
    left: 0;
    max-height: unset;
    box-shadow: 1px 1px 1px 0px #d0d0d0, inset 1px 1px 0 0px #fff;
        padding: 2px 5px;
    }

#menu__toggle:checked ~ .menu__btn > span {
    transform: unset;
        opacity: 1;
        box-shadow: inset 5px 1px 0 #fff, inset 1px 0 1px 1px #d0d0d0;
 }
.menu__btn > span {
transition: 0s !important; 
    height: 30px !important;
    transform: unset;
   width: 77px !important;
    height: 30px !important;
    margin: -4px -13px;
    background: #e0e0e0;
    border: 1px solid #d0d0d0 !important;
    transform: translateY(1px) !important;
    border: 1px solid #d0d0d0;
    box-shadow: inset 1px 1px 0 #fff;
transition: 0s;
        opacity: 0;
}
.hamburger-menu .menu__btn:hover {
        background: #e0e0e0;
        border: 1px solid #d0d0d0;
        transform: translateY(1px) !important;
        box-shadow: inset 1px 1px 0 #eee;
}
.hamburger-menu .menu__btn {
        width: 74px;
        box-shadow: inset 1px 1px 0 #fff, inset 0 0 1px 1px #d0d0d0 !important;
        font-size: 14px !important;
        height: 30px;
        max-height: unset !important;
}
 .menu__btn:after {
        content: 'меню';
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        margin: 0px 5px;
        width: 60px;
        display: block;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
height: 0;
}

.bottombg {
    height: 0;
}

.blog__post-form__chars-left {
        background: unset !important;
}
[src="/i/heart.png"] {
        content: url(https://i1.beon.fun/24/36/3624/2/1179602/network.png);
}

.textareabg #commentpreviewplace a.post-title-user {
        color: white;
        margin: 0 4px;
}
.textareabg #commentpreviewplace .post-title-date,
.textareabg #commentpreviewplace .post-title-date + a {
        color: #999;
}
.textareabg #commentpreviewplace .comment-content .comment-row .comment-text {
        margin-bottom: 20px;
}
.textareabg #commentpreviewplace .comment-content > div:first-child {
    background: lightblue;
    border-bottom: 1px solid #999;
}
.textareabg #commentpreviewplace .comment-content {
        margin-bottom: 10px;
        border-bottom: 1px solid #999;
}
.textareabg #commentpreviewplace + p {
    margin: 2px 0 2px 4px;
}

.textareabg form {
        padding: 10px;
        border-top: 1px solid #999;
        box-shadow: inset 0 1px 0 #fff;
    background: #f0f0f0;
}

.textareabg {
        background: lightblue;
    border: 1px solid #ffffff;
    outline: 1px solid #999999;
        margin: 20px !important;
}

.btn-outline-primary {
    border-color: #999999
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #add8e6;
    border-color: #999999
}

.close {
    outline: 0 !important; 
}
.close span {
    font-size: 20px;
    top: 8px;
    right: 12px;
    position: absolute;
}

.btn:not(:disabled):not(.disabled) {
    border-radius: 0;
        color: black;
     box-shadow: none !important;
    border: 1px solid #d0d0d0 !important;
    background: unset !important;
    background-color: #f0f0f0 !important;
}
.post-content > h1 + [style="margin-left: 5px;"] {
all: unset;
}
.post-content > h1 + [style="margin-left: 5px;"] .post-row > div.post-text {
    padding: 6px;
}

.post-content > h1 + [style="margin-left: 5px;"] .comment-content {
    background: lightblue;
    border: unset;
    padding: 5px;
}

.comment-header .post-title-date + a {
    color: #999;
        padding: 0px 6px 2px 6px;
    border-left: 1px solid #999;
}

.comment-header .post-title-date {
    color: #999;
        padding: 0 6px;
}

.comment-header .user.post-title-user {
    color: white;
    margin: 0 4px;
        margin-right: auto;
}

.comment-content .comment-row .post-avatar .sign {
    padding-top: 4px;
    color: #999;
}
.comment-content .comment-row .post-avatar {
    margin: unset;
}
.comment-content .comment-row .post-avatar img {
    border: 5px solid lightblue;
    outline: 1px solid #999;
    background: #fff;
}

.comment-content .comment-base .mt-3 {
        display: flex;
        margin: 6px !important;
    }
.comment-content .comment-base {
    display: flex;
    flex-direction: column;
}
.comment-content .comment-row .comment-text {
    background: white;
    border-bottom: 1px solid #999;
    box-shadow: 0px 1px 0 #fff;
padding: 6px 6px;
}

.comment-content .comment-row > div:first-child {
    border-right: 1px solid #999;
    padding: 7px 7px 6px 6px;
}

.comment-content .comment-header {
    background: linear-gradient(46deg, lightblue 60%, #f0f0f0);
    border-bottom: 1px solid #999;
        box-shadow: 0px 1px 0 #fff;
display: flex;
  justify-content: space-between;  
  align-items: center;
}
.comment-content .comment-box {
    margin: 20px;
}
.comment-content {
    min-height: unset;
    margin-bottom: 40px;
    background: #f0f0f0;
    border: 1px solid #ffffff;
    outline: 1px solid #999999;
    box-shadow: 3px 3px 0 rgba(50, 50, 50, .1);
}
[action="/search"] > input + input {
background: #f0f0f0;
        border: 1px solid #d0d0d0;
        box-shadow: inset 1px 1px 0 #fff;
        transition: all 0.1s ease-in-out;
        font-size: 12px;
        padding: 0 6px;
        height: 25px;
        width: unset;
}
[action="/search"] > input {
    padding: 2px;
    background: white;
    border: 1px solid;
    border-color: #999 #d0d0d0 #d0d0d0 #999;
        width: calc(100% - 56px);
}

#fnplayer-slider > span {
        width: 100%;
        margin: 4px 0px;
        font-size: 0px;
        white-space: nowrap;
        overflow: hidden;
}
#fnplayer-slider > span:after {
content: 'неизвестен -- без названия';
        font-size: 12px;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {  margin-left: 100%;  }
  100% { margin-left: -120%;   }
}

#fnplayer-slider-inner {
        background: url(https://i1.beon.fun/24/36/3624/46/485446/1.gif) 0px -50px / 160px, #a5d4dd;
        background-blend-mode: screen;
        height: 18px;
        transition: .5s;
        width: 0;
}

#fnplayer-volume {
    display: none;
}

#fnplayer-slider {
        margin: 15px 40px 20px 0px;
        left: 30px;
        height: 20px;
        overflow: hidden;
        background: white;
        border: 1px solid;
        border-color: #999 #d0d0d0 #d0d0d0 #999;
}

#fnplayer-stop {
    display: none;
}

.left-menu__user-notification.left-menu__unread-message form input {
    font-size: 12px;
}
.left-menu__user-notification.left-menu__unread-message form {
        position: relative;
        top: 2px;
        right: 8px;
        font-size: 18px;
        padding: 0;
        width: 100%;
        text-align: right;
}
.left-menu__user-notification.left-menu__unread-message p:last-of-type  {
        width: calc(100% - 89px);
        height: 91px;
        overflow-x: hidden;
        overflow-y: auto;
        border-bottom: 1px solid #999999;
        background: #fff;
        margin: -1px 0 0 0;
        align-content: center;
line-height: 1.5;
}

.left-menu__user-notification.left-menu__unread-message h3 + p > a {
        font-size: 12px;
}
.left-menu__user-notification.left-menu__unread-message h3 + p {
        font-size: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 2px -6px 0px -6px !important;
        padding: 0px 12px 2px 6px !important;
        border-bottom: 1px solid #999;
        width: calc(100% + 12px);
        position: relative;
        box-shadow: inset 0 -1px 0 #fff;
    }
.left-menu__user-notification.left-menu__unread-message .post-title-date.pl-0 {
    font-size: 10px;
}
.left-menu__user-notification.left-menu__unread-message img {
        object-fit: cover;
        width: 89px;
        height: 89px;
        border: 5px solid lightblue;
        box-shadow: -1px 1px 0 #999, 0px 0px 0 1px #999;
    }


.left-menu__user-notification.left-menu__unread-message h3.left-menu-text:after {
        content: 'сообщения';
        font-size: 12px;
        letter-spacing: 0;
    }
.left-menu__user-notification.left-menu__unread-message h3.left-menu-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background: url(https://i1.beon.fun/24/36/3624/3/1179603/mess.png) no-repeat 9px 6px, linear-gradient(46deg, lightblue 60%, #f0f0f0) !important;
        border-bottom: 1px solid #999 !important;
        box-shadow: 0px 1px 0 #fff;
        text-transform: lowercase;
        color: black;
        font-size: 0px;
        padding: 8px 34px !important;
        margin: 0 !important;
}

.notifications__comments h3.left-menu-text:after {
        content: 'комментарии';
        font-size: 12px;
        letter-spacing: 0;
}

.notifications__comments .right-menu-text  {
    margin: 4px 2px;
}
.notifications__comments .right-menu-text a  {
    color: #999;
}
 .notifications__comments::-webkit-scrollbar {
        width: 0;
}
.notifications__comments h3 + p.left-menu-text {
        margin: 10px 0 0 0  !important; 
}
.left-menu__user-notification .left-menu-text {
        border: unset !important;
 }


.post-content.post-page h1 {
        position: absolute;
        z-index: 99;
        margin: 8px 0px 0px 26px;
}

.blog__about .text-center {
    position: fixed;
    left: 1vw;
    top: 10vh;
    width: 13vw;
    z-index: 99999;
    pointer-events: none;
}
.blog__about .mw-100 {
        pointer-events: auto;
        border: 10px solid #f0f0f0;
        outline: 1px solid #999999;
        padding: 1px;
        background: #fff;
        box-shadow: 0px -20px 0 0px #add8e6, 0px -21px 0 0px #fff, 0 -21px 0 1px #999, 
                                  5px -20px 0 0px rgb(195 205 213), 5px 5px 0 0px rgb(195 205 213);
    content: url(https://i1.beon.fun/24/36/3624/88/1185288/01010.png);
}

.user::before {
    display: none;
}

.post-content .user.post-title-user {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 25px;
    margin: 2px 0px 0 0;
 
     min-width: fit-content;
}

.post-content a.user.post-title-user::after {
    content: '.txt';

}
.post-content a.user.post-title-user::before {
    content: '—';
    display: inline-block !important;
        margin: 0 8px 0 0px;
}
 
.menu__box .menu__item:hover {
        transition: 0s;
         color: #000 !important;
}
 .menu__box .menu__item {
    text-align: left;
    border: 1px solid #999999;
    box-shadow: inset 1px 1px 1px 1px #fff;
    transition: all 0.1s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px !important;
    height: 28px;
    padding: 4px 30px 4px 12px;
    border-bottom: 1px solid transparent;
    font-weight: 100;
    color: #000 !important;
}
.menu__box {
        top: unset;
        height: 0%;
        bottom: 50px;
        left: 1px;
        width: max-content;
        padding: 0px 0 0 0;
        background: #f0f0f0;
        box-shadow: inset -1px 1px 0 #999999, inset 1px 2px 0 #fff;
}
.menu__box::-webkit-scrollbar {
        width: 0px;
}
#menu__toggle:checked ~ .menu__box {
        height: 50%;
}

   .navbar:after {
        content: '';
        width: 66px;
        height: 22px;
        background: url(https://i1.beon.fun/24/36/3624/11/1181411/x.png) no-repeat center;
        position: absolute;
        right: 10px;
        top: 8px;
    }

[action="/search"] {
        position: fixed;
        right: 2vw;
    top: calc(380px + 12vw);
        width: 15vw;
        height: 80px;
        resize: both;
        overflow: auto;
        z-index: 999999;
        font-size: 12px;
        padding: 30px 0px 0 10px;
        background: url(https://i1.beon.fun/24/36/3624/39/1176139/01.png) no-repeat top -1px left -1px / 99px, url(https://i1.beon.fun/24/36/3624/38/1176138/01.jpg) no-repeat top -1px right -1px / 489px, #f0f0f0;
        background-size: 99px, 16vw 32px;
        outline: 1px solid #999999;
        box-shadow: 3px 3px 0 rgba(50, 50, 50, .1);
        display: flex;
        align-items: center;
}
    #beon-fnplayer {
        position: fixed;
        right: 1vw;
        top: calc(250px + 12vw);
        width: 15vw;
        resize: both;
        overflow: auto;
        z-index: 9999;
        padding: 30px 10px 0 10px;
        background: url(https://i1.beon.fun/24/36/3624/47/1176147/02.png) no-repeat top -1px left -1px, url(https://i1.beon.fun/24/36/3624/38/1176138/01.jpg) no-repeat top -1px right -1px / 489px, #f0f0f0;
        background-size: 139px, 16vw 32px;
        outline: 1px solid #999999;
        box-shadow: 3px 3px 0 rgba(50, 50, 50, .1);
        height: max-content;
    }

 .left-menu__user-notification .left-menu-text {
        border-left: unset;
}
 .left-menu__user-notification.left-menu__unread-notifications h3:after {
    content: 'уведомления';
    font-size: 12px;
letter-spacing: 0;
}

.left-menu__user-notification.left-menu__unread-notifications h3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background: url(https://i1.beon.fun/24/36/3624/5/1179605/info.png) no-repeat 9px 6px, linear-gradient(46deg, lightblue 60%, #f0f0f0) !important;
        border-bottom: 1px solid #999 !important;
        box-shadow: 0px 1px 0 #fff;
        text-transform: lowercase;
        color: black;
        font-size: 0px;
        padding: 8px 34px !important;
        border-left: unset;
}
    .left-menu__user-notification.left-menu__unread-notifications {
        position: fixed;
    left: 2vw;
    top: calc(6vh + 520px);
        width: 12vw;
        border: 1px solid;
        resize: both;
        overflow: auto;
        background: #d1d1d1;
        z-index: 9999;
background: #f0f0f0;
        border: 1px solid #ffffff;
        outline: 1px solid #999999;
        box-shadow: 3px 3px 0 rgba(50, 50, 50, .1);
        padding: 30px 0px 0px 10px;
        text-transform: lowercase;
    }
.notifications__comments {
    position: fixed;
    left: 1vw;
    top: calc(3vh + 390px);
    width: 15vw;
    z-index: 999;
        resize: both;
        overflow: auto;
        background: #f0f0f0;
        border: 1px solid #ffffff;
        outline: 1px solid #999999;
        box-shadow: 3px 3px 0 rgba(50, 50, 50, .1);
        padding: 30px 0px 0px 10px;
        text-transform: lowercase;
    }
.left-menu__user-notification.left-menu__unread-message {
    position: fixed;
    right: 1vw;
    top: 10vw;
    width: 13vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        resize: both;
        overflow: auto;
        z-index: 999;
        background: #f0f0f0;
        border: 1px solid #ffffff;
        outline: 1px solid #999999;
        box-shadow: 3px 3px 0 rgba(50, 50, 50, .1);
        padding: 30px 0px 0px 0px;
        align-content: flex-start;
    overflow: hidden;
    min-height: 200px;
    }

.avatar-select-label-selected {
    border: 4px solid #add8e6 !important;
}
.avatar-select-list {
width: 184px;
}

.avatar-select-label {
        width: 72px;
        height: fit-content;
        outline: 1px solid #999;
        margin: 4px;
}

#messageform input {
text-transform: lowercase;
}
.post-content a {
        color: black;
}

h1 + .alert {
        position: absolute;
        z-index: 999;
        height: 40px;
        top: 0;
        display: flex;
        align-items: center;
        width: 100%;
        background: linear-gradient(45deg, lightblue, white);
        color: #474747;
        border-color: #add8e6;
}
h1 + .alert,
.alert.alert-warning,
.alert.alert-success {
        background: linear-gradient(45deg, lightblue, white);
        color: #474747;
        border-color: #add8e6;
        border-radius: 0;
}

.post-content.post-page .small-text + div > div > a  {
        margin: 0 8px;
}

.container-fluid.post-content.p-3 .row .btn-outline-primary:hover {
    color: #fff;
    background-color: #add8e6;
    border-color: #999;
}
.container-fluid.post-content.p-3 .row .btn-outline-primary {
        border: 1px solid;
        border-color: lightblue;
        color: #000;
        background: white;
        border-radius: 0px;
}
.container-fluid.post-content.p-3 {
    width: unset;
}

.post-content.post-page .post__tags-list + [style="font-size: 1rem;"] {
display: flex;
    align-items: center;
}
.post-content.post-page .post-opt > [style="font-size: 1rem;"] {
    font-size: unset !important;
        height: 25px;
}

.post-content.post-page {
    margin: 40px 20px 40px 20px !important;
    padding: 0px 0 10px 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
 
.post-content.post-page .post-text.comment-text {
        background: #ffffff;
        border: 1px solid;
        border-color: #999999 #d0d0d0 #d0d0d0 #999999;
        margin: 10px 10px 10px 10px;
        max-width: 100%;
        padding: 2px 6px 0px 6px;
}
.post-content.post-page .post-opt {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        margin: 0px 10px !important;
    }
.post-content.post-page .post__tags-list {
        width: 100%;
        background: unset;
        border: unset;
        font-size: 0;
        margin: 0px 0px 4px 0px;
        letter-spacing: 0;
    }
.post-content.post-page .post__mood,
.post-content.post-page .post__musicplay,
.post-content.post-page .post__wish {
        border: 1px solid;
        border-color: #999 #d0d0d0 #d0d0d0 #999;
        margin: 2px 6px 6px 0px;
        padding: 0px 6px;
        color: #000000 !important;
        text-transform: lowercase;
        font-size: 12px;
}

.post-content.post-page .small-text + div {
    position: relative;
    z-index: 999;
    height: 27px;
    width: max-content;
    order: 1;
    margin: 6px 0 0 2px;
}

.post-content.post-page .small-text + div > a {
    margin: 0px 8px;    
}

.post-content.post-page .small-text {
        position: absolute;
        right: 12px;
        top: 37px;
        font-size: 10px;
        z-index: 99;
        color: #d0d0d0;
}


.comment-base .mt-3 {
    display: flex;
    align-items: center;
}
 
.container-fluid .row .col-md-6 a,
[type=reset], [type=submit], button, html [type=button],
.content a[href*="/subscribe"],
.content a[href*="/unsubscribe"],
[data-target="#deleteconfirmmodal"],
.post-text.comment-text + .post-opt a {
        font-size: 12px;
        padding: 2px 8px;
        background: #f0f0f0;
        border: 1px solid #d0d0d0;
        box-shadow: inset 1px 1px 0 #fff;
        transition: all 0.1s ease-in-out;
        text-decoration: none !important;
        text-transform: lowercase;
        color: black !important;
        display: inline-block;
        max-height: 25px;
        overflow: hidden;
        word-break: break-all;

margin: unset;
    }
.container-fluid .row .col-md-6 a,
[type=reset], [type=submit], button, html [type=button] {
        font-size: 14px;
        padding: 0px 6px;
}

.container-fluid .row .col-md-6 a:hover,
.content a[href*="/subscribe"]:hover,
.content a[href*="/unsubscribe"]:hover,
[data-target="#deleteconfirmmodal"]:hover,
[type=reset]:hover, 
[type=submit]:hover, 
button:hover, 
html [type=button]:hover,
.post-text.comment-text + .post-opt a:not(.tag):hover {
        background: #e0e0e0;
        border: 1px solid #d0d0d0;
        color: #555;
        transform: translateY(1px) !important;
        box-shadow: inset 1px 1px 0 #eee;
}
 
 .post-content .post-opt a {
    color: black;
}
.post-content  > [style="margin-left: 5px;"] {
        background: url(https://i1.beon.fun/24/36/3624/6/1179606/messs.png) no-repeat left 10px center, linear-gradient(45deg, lightblue, #f0f0f0);
        margin: 0px !important;
        border-bottom: 1px solid #999;
        box-shadow: 0px 1px 0 #fff;
        height: 40px;
        padding: 8px 90px 0px 30px;
        overflow: hidden;
        position: relative;
        display: flex;
}

h1 + .row {
    display: inline-block;
}

h4, .post-content.p-2 > .mb-3 {
        text-transform: lowercase;
}
.post-content.p-2 a {
        color: black !important;
        font-weight: bold;
}
.post-title {
    color: white;
}
.post-title, h1, h2, h4 {
    font-size: 18px;
    height: 40px;
    margin: 0;
    align-content: center;
    padding: 0 8px 0 10px;
}

[onclick="return showSpoiler(this)"] {
    text-transform: lowercase;
    letter-spacing: 1px;
}
.quotation {
    border-left: 3px solid #add8e6;
}
.content .datebg:before {
        content: '';
        width: 10px;
        height: 1px;
        background: lightblue;
        margin: 12px 4px 0px 0px;
}
.content .datebg:after {
        content: '';
        width: 10px;
        height: 1px;
        background: lightblue;
        margin: 12px 0px 0px 4px;
}

.content .datebg {
        font-weight: 100;
        margin: 30px;
        padding: 0;
        color: lightblue;
        font-size: 14px;
        display: flex;
        justify-content: center;
}

    .post-content .post-text a:not(.row.w-100.mt-3 a)  {
        color: lightblue !important;
}

a.tag::after {
        content: "• " !important;
        color: lightblue;
        margin: 0 4px 0 0px;
        font-weight: bold;
}

.comment-content .comment-base .mt-3 .post-likes-count,
.post-content.post-page .post-likes-count,
.post-opt.col-md-6:not(.text-right) > span:first-child,
.post-opt.col-md-6 > .post-likes-count {
    background: lightblue  !important;
    color: white !important;
    letter-spacing: 0 !important;
}

.post-header a:hover {
color: white !important; 
transition: .2s;
}

h3.left-menu-text:after {
        letter-spacing: 1px;
}
.row.w-100.mt-3 .post-opt {
        font-size: 1px;
        letter-spacing: 1px;
}

.liked .fas, .reposted .fas, .bookmarked .fas {
    color: #ffffff !important;
}
.liked, .reposted, .bookmarked {
    background: lightblue !important;
    box-shadow: inset 1px 1px 0 #eee !important;
}
.comments_count a {
    color: black;
}

.comment-text + .post-opt.mt-3 a,
.fast-quote,
[onclick="deleteComment(this)"],

.hamburger-menu .menu__btn,

.repostbutton, 
.bookmarkbutton,
 .complaintbutton,
.post-opt.col-md-6 > a,
.post-opt.col-md-6 > span,
.post-likes-count, 
.likebutton {
        font-size: 12px;
        padding: 2px 8px;
        background: #f0f0f0;
        border: 1px solid #d0d0d0;
        box-shadow: inset 1px 1px 0 #fff;
        transition: all 0.1s ease-in-out;
        text-decoration: none !important;
        text-transform: lowercase;
        color: black !important;
        display: inline-block;
        max-height: 24px;
        overflow: hidden;
        word-break: break-all;
margin: unset;
    margin-bottom: 4px;
}

.comment-text + .post-opt.mt-3 a:hover,
.fast-quote:hover,
[onclick="deleteComment(this)"]:hover,
 .menu__box .menu__item:hover,
.repostbutton:hover, 
.bookmarkbutton:hover,
.complaintbutton:hover,
.post-opt.col-md-6 > a:hover,
.post-opt.col-md-6 > span:hover,
.post-likes-count:hover, 
.likebutton:hover {
        background: #e0e0e0;
        border: 1px solid #d0d0d0;
        color: #555;
        transform: translateY(1px) !important;
        box-shadow: inset 1px 1px 0 #eee;
}

.post-opt.col-12.col-md-6 > .post__mood,
.post-opt.col-12.col-md-6 > .post__musicplay,
.post-opt.col-12.col-md-6 > .post__wish {
        border: 1px solid;
        border-color: #999 #d0d0d0 #d0d0d0 #999;
        margin: 2px 4px 6px 0px;
        padding: 0px 6px;
        color: #000000 !important;
        text-transform: lowercase;
        font-size: 12px;
}

.post-opt.col-md-6.text-right {
    right: 0;
        bottom: 0;
    position: absolute;
    justify-content: flex-end;
        max-width: max-content !important;
}

.post-opt.col-12.col-md-6 .post__tags-list  {
        width: 100%;
        background: unset;
        border: unset;
        font-size: 0;
        margin: 0px 0px 8px 0px;
        letter-spacing: 0;
}

.messageform__taglinks.collapse.show { font-size: 0; }
.messageform__taglinks.collapse.show .messageform__taglink.tag,
.post-content.post-page .post__tags-list a,
.post-opt.col-12.col-md-6 .post__tags-list a {
        font-size: 12px;
        word-break: keep-all;
        margin: 4px 4px 4px 0px;
        padding: 0px 6px;
        background: #ffffff;
        border: 1px solid #d0d0d0;
        color: #999;
        transition: all 0.1s ease-in-out;
        display: inline-block;
        direction: rtl;
        border-color: #999 #d0d0d0 #d0d0d0 #999;
}
 
.row.w-100.mt-3 .col-md-6,
.post-opt.col-12.col-md-6 {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
padding: 0;
}
.post-row .row.w-100.mt-3 {
        background: #f0f0f0;
        position: relative;
        z-index: 99;
        max-height: max-content;
        border-top: 1px solid #d0d0d0;
        box-shadow: 0px 2px 0 2px #f0f0f0;
        width: calc(100% + 14px) !important;
        margin: 2px 0px 0px -7px !important;
        display: flex;
        flex-direction: column-reverse;
        padding: 10px 0 0 0;
}

.post-header:after {
        content: '';
        width: 66px;
        height: 22px;
        background: url(https://i1.beon.fun/24/36/3624/11/1181411/x.png) no-repeat center;
        position: absolute;
        right: 10px;
        top: 8px;
}

.post-row > div.post-text  {
    background: #ffffff;
    border: 1px solid;
    border-color: #999999 #d0d0d0 #d0d0d0 #999999;
    margin: 10px 10px 10px 10px;
        max-width: 100%;
padding: 2px 6px 0px 6px;
}
.post-row > div:nth-child(1) {
        border-right: 1px solid #999;
        padding: 8px 4px 0px 2px;
        display: none; /* вернусь позже */
        overflow: hidden;
        height: 84px;
}

.post-content.post-page h1,
.post-title {
    font-size: 14px;
        height: 25px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
color: black;
}
.post-content.post-page h1 {
    max-width: calc(100% - 110px);
}
.post-header {
        background: url(https://i1.beon.fun/24/36/3624/6/1179606/messs.png) no-repeat left 10px center, linear-gradient(45deg, lightblue, #f0f0f0);
        margin: 0px !important;
        border-bottom: 1px solid #999;
        box-shadow: 0px 1px 0 #fff;
        height: 40px;
        padding: 8px 0px 0px 30px;
        overflow: hidden;
position: relative;
}

.left-menu .left-menu-text a:hover {
    color: lightblue;
    transition: 0s;
}
.left-menu__friends > div:nth-last-of-type(2) {
    margin: 0  !important;
padding-bottom: 20px;
}

.left-menu__friends .right-menu-text,
.blog__gifts .right-menu-text {
        font-size: 0px;
        text-align: left;
        border: 1px dashed #d0d0d0;
        width: max-content;
        padding: 0px 6px 0 6px;
        margin: -14px 0px 10px 14px  !important;
transition: .5s;
        z-index: 9;
        position: relative;
}
.left-menu__friends .right-menu-text:hover,
.blog__gifts .right-menu-text:hover {
        background: lightblue;
}
.left-menu__friends .right-menu-text:hover a,
.blog__gifts .right-menu-text:hover a {
        color: white;
}
.left-menu__friends .right-menu-text a:after,
.blog__gifts .right-menu-text a:after {
    font-size: 12px;
    content: 'показать детали';
}
.left-menu__friends .right-menu-text:before,
.blog__gifts .right-menu-text:before{
         content: '';
        position: absolute;
        width: 14px;
        height: 1px;
        border-bottom: 1px dashed #d0d0d0;
        margin: 12px 0px 0px -20px;
}
.blog__last-comments > h3.left-menu-text {
    font-size: 0;
}
.blog__last-comments > h3:after {
    font-size: 14px;
content: 'активность';
}
.blog__iread > h3.left-menu-text {
    font-size: 0;
}
.blog__iread > h3:after {
    font-size: 14px;
content: 'внешние ссылки';
}
.blog__read-me > h3.left-menu-text {
    font-size: 0;
}
.blog__read-me > h3:after {
    font-size: 14px;
content: 'Пользователи';
}
.blog__gifts > h3.left-menu-text {
    font-size: 0;
}
.blog__gifts > h3:after {
    font-size: 14px;
content: 'артефакты';
}
.left-menu__friends > h3.left-menu-text {
    font-size: 0;
}
.left-menu__friends > h3:after {
    font-size: 14px;
content: 'утилиты';
}
 
.blog__gifts .d-flex {
        padding: 14px 0px 26px 8px !important;
        border-left: 1px dashed #d0d0d0;
        margin: -10px 10px -8px 0px;
}

.left-menu__gift {
    content: url(https://i1.beon.fun/24/36/3624/7/1179607/gift.png);
    max-width: 22%;
    width: fit-content;
}

.left-menu a, body {
    color: black;
}

.left-menu__friends,
.blog__read-me .readertime,
.blog__last-comments div.left-menu-text:not(class) {
    color: #999;
}

.left-menu .left-menu-text a {
    white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
       font-size: 12px;
    transition: 2s;
        text-transform: lowercase;
}
.blog__tags .left-menu .left-menu-text a {
font-size: 12px !important;
}

.blog__about > h3.left-menu-text {
    margin: 0px 0px 0px -10px;
    background: url(https://i1.beon.fun/24/36/3624/29/1170529/3.png) no-repeat left center, transparent !important;
    color: black;
        border: unset;
        padding: 6px 0px 4px 22px !important;
       font-size: 0px;
        text-transform: uppercase;
}
.blog__about > h3.left-menu-text:after {
    content: 'О программе';
       font-size: 14px;
}

.blog__tags .left-menu-text {
 display: flex;
        flex-direction: column;
        font-size: 0;
}
.blog__tags h3.left-menu-text:after {
   content: 'категории';
        font-size: 14px;
}
.blog__about {
        display: flex;
        flex-direction: column;
        font-size: 0;
}
.blog__about a {
        font-size: 12px;
}

[class^="blog_"], .left-menu__friends {
    padding-left: 20px;
        background: white;
        max-width: calc(16vw - 18px);
}
.left-menu .left-menu-text {
        padding-left: 10px;
        padding-right: 20px;
        border-left: 1px dashed #d0d0d0;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
}
.left-menu__friends .left-menu-text  {
        flex-direction: column;
}

.navbar + .crumbs .pagination span + a,
.navbar + .crumbs .pagination a:last-child {
        width: 26px;
   transition: all 0.1s ease-in-out;
}

.navbar + .crumbs .pagination span + a {
        margin-right: 6px;
}
.navbar + .crumbs .pagination span + a:after {
    content: '';
    width: 26px;
    height: 26px;
    background: url(https://i1.beon.fun/24/36/3624/50/1184950/88.png) no-repeat;
    background-position: 0px 0px;
    display: block;
} 
.navbar + .crumbs .pagination a:last-child:after {
    content: '';
    width: 26px;
    height: 26px;
    background: url(https://i1.beon.fun/24/36/3624/36/1184736/8.png) no-repeat;
    background-position: 0px 0px;
    display: block;
} 

.navbar + .crumbs .pagination span + a:hover:after, 
.navbar + .crumbs .pagination a:hover:last-child:after {
       transform: translateY(1px);
        filter: brightness(0.74) contrast(1.9);
    box-shadow: 0px -1px 0 0px #fff;
}

.navbar + .crumbs .pagination { 
       position: absolute;
        right: 0;
        width: 58px;
        height: 26px;
        top: 40px;
        background: url(https://i1.beon.fun/24/36/3624/27/1181527/22.png);
        overflow: hidden;
        border-radius: unset;
}

.navbar + .crumbs {
all: unset;
position: absolute;
top: 10px;
left: 104px;
font-size: 0;
width: calc(100% - 116px);
z-index: 9;
}
.navbar  + .crumbs > a:first-child,
.navbar  + .crumbs span.crumb-item:first-child {
font-size: 12px;
pointer-events: none;
        font-weight: unset;
color: black;
height: 20px;
        display: block;
        overflow: hidden;
}
.navbar  + .crumbs > a:first-child:before,
.navbar  + .crumbs span.crumb-item:first-child:before  {
content: '—';
margin-right: 4px;
}
.navbar  + .crumbs > a:first-child:after,
.navbar  + .crumbs span.crumb-item:first-child:after  {
content: '.exe';
}

.py-4 + .crumbs {
        position: absolute;
        top: 40px;
        width: 100%;
        height: 46px;
        border-bottom: 1px solid;
        border-top: 1px solid;
        background: white;
        border: 10px solid #f0f0f0;
        border-right: 78px solid #f0f0f0;
        box-shadow: inset 0px 1px 2px -1px #999, inset 0 0px 2px 0px #999, 0px -1px 0px 0px #fff, 0px -2px 0px 0px #999, 0px 1px 0px 0px #999, 0px 2px 0px 0px #fff;
        font-size: 0px;

        margin: 0 !important;
        text-transform: lowercase;
        overflow: hidden;
    align-content: center;
    line-height: 2;
}
.py-4 + .crumbs span {
    font-size: 12px;
        font-weight: unset;
        color: black;
}
.py-4 + .crumbs:before {
    content: 'https://';
    font-size: 12px;
}
.py-4 + .crumbs span.crumb-item:first-child:after {
    content: '.com/';
}
.py-4 + .crumbs [href="/"] span:first-child:after {
    content: '.com/';
}
.py-4 + .crumbs span:after {
    content: '/';
color: black;
}

 .navbar {
        position: absolute;
        height: 40px;
        overflow: hidden;
        width: 100%;
        background: linear-gradient(46deg, lightblue 60%, #f0f0f0);
}
.navbar .container {
    position: absolute;
    left: 0;
        flex-wrap: nowrap !important;
}
.navbar-expand-md>.container {
        padding-left: 15px;
    }

.navbar-brand {
    font-size: 14px;
    font-weight: unset;
        color: black !important;
}
.navbar .m2 {
    display: none;
}
.navbar-brand:before {
     content: url(https://i1.beon.fun/24/36/3624/87/1168887/022.png);
        margin: 0px 4px 0px 0px;
}

.post-content {
    background: #f0f0f0;
    border: 1px solid #ffffff;
    outline: 1px solid #999999;
    margin: 40px 20px !important;
        position: relative;
        min-height: 60px !important;
        overflow: hidden;
}

::selection {
        color: white;
        background: #add8e6ad;
}

 ::-webkit-scrollbar {
    background-color: transparent;
}

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, lightblue, #add8e642);
    border: 6px solid transparent;
    background-clip: padding-box;
        min-height: 100px;
}

.left-menu h3 {
        color: white;
        font-size: 14px;
        background: lightblue !important;
        height: 26px;
        padding: 4px 0px 0px 10px !important;
        margin: 5px 10px 5px 0px;
        overflow: hidden;
        inset-area: unset;
        display: block !important;
    text-transform: uppercase;
}

.hamburger-menu {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    height: 50px;
    background: #f0f0f0;
    border-top: 1px solid #d0d0d0;
    box-shadow: inset 0 1px 0 #ffffff;
        z-index: 99999;
}

.left-menu {
    display: grid;
}
.blog__about {
    order: 1;
}
.blog__tags {
    order: 2;
}
.blog__last-comments {
    order: 3;
}
.blog__iread {
    order: 4;
}
.blog__read-me {
    order: 5;
}
.blog__gifts {
    order: 6;
        font-size: 0;
}
.left-menu__friends {
    order: 7;
}

div.left-menu {
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
        height: calc(100% - 110px);
        margin: 100px 14px 10px 10px;
    width: 16vw;
    background: #fff;
    border: 1px solid;
    border-color: #999999 #d0d0d0 #d0d0d0 #999999;
        font-size: 12px;
        padding: 10px 0px 10px 0px;
}
 .content {
    position: absolute;
        overflow: auto;
        right: 10px;
        height: calc(100% - 110px);
        margin-top: 100px;
    width: calc((100% - 16vw) - 34px);
    background: #ffffff;
    border: 1px solid;
    border-color: #999999 #d0d0d0 #d0d0d0 #999999;
        padding: 10px;
}

html {
    background: #d4dfe8;
}
div#app {
    background: #f0f0f0;
    border: 1px solid #ffffff;
    outline: 1px solid #999999;
    box-shadow: 3px 3px 0 rgba(50, 50, 50, .1);

        position: fixed;
position-area: top;
        padding: 0;
        width: 70vw;
        margin: 40px auto;
        height: calc(100vh - 40px - min(130px, calc(13vh)));

    resize: both;
    overflow: auto;
    max-width: 90%;
    max-height: calc(100% - 100px);
}

.notifications__comments .left-menu-text a:hover {
    color: black !important;
}
.notifications__comments p.left-menu-text {
        padding: 0 !important;
        border: unset;
}

.left-menu .notifications__comments .left-menu-text a:before,
.left-menu .notifications__comments .left-menu-text a::after {
        display: none !important;
}
.notifications__comments h3.left-menu-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background: url(https://i1.beon.fun/24/36/3624/36/1177436/mes.png) no-repeat 9px 6px, linear-gradient(46deg, lightblue 60%, #f0f0f0) !important;
        border-bottom: 1px solid #999 !important;
        box-shadow: 0px 1px 0 #fff;
        text-transform: lowercase;
        color: black;
        font-size: 0px;
        padding: 8px 34px !important;
        border-left: unset;
    }

#csseditortext {
    height: 400px  !important;
    overflow: auto !important; 
        margin-bottom: 10px;
}

#usermenu,
.post-content.post-page .user.post-title-user,
[src="/i/offline.png"],
[src="/i/online.png"],
.fas.fa-lock-open,
.post-content.post-page .container-fluid,
.content .post-content[style="min-height: auto;"],
.load_ignored_comments,
.blog:before,
.content > h1,
.post-title-date + span,
.flag,
.tag:before,
.post-content .post-title-date,
.user-drop-menu,
i.fas.fa-chevron-down,
.post-content.blog_total_counter,
.pagination-goto,
.d-inline,
.pc-menu,
[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="/i/user.png"],
[src="/i/blog.png"],
.left-menu .left-menu-text .readertime + a + a,
[src="//beon.fun/i/design-off.png"]
 {
display: none !important;
}

.left-menu .mt-2.text-right {
    text-align: unset !important;
}

* {
transition: .2s;
        outline: 0;
}

.blog__about a[href$="beon.fun/friends-posts/"]:after {
    content: 'друзей';
        margin-left: 3px;
}

.blog__about [href="/subscribers"] {
    font-size: 0px !important;
}
.blog__about [href="/subscribers"]:after {
    content: 'подписчики';
        font-size: 12px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

@media (max-width: 767.9999px) {
    .fas, .far, .tag_bar > * {
        font-size: unset;
        padding: unset;
    }
}

@media (max-width: 700px)  {
div#app {
    all: unset;
}

.navbar {
    position: fixed;
    z-index: 99999;
}

.navbar + .crumbs {
    position: fixed;
    z-index:999999;
}
.py-4 + .crumbs {
    position: fixed;
    z-index: 99999; 
    box-shadow: inset 0px 1px 2px -1px #999, inset 0 0px 2px 0px #999, 0px -1px 0px 0px #fff, 0px -2px 0px 0px #999, 0px 1px 0px 0px #999;
}

[action="/search"] {
        all: unset;
        width: calc(100% - 20px);
        display: flex;
        margin: 10px auto;
}

.content {
    all: unset;
    margin: 86px 0px 60px 0;
}

.comment-content .comment-base {
    overflow: hidden;
}

.content .comment-box {
    margin: 10px;
}

.comment-content .comment-row .post-avatar img {
    width: 80px;
}

.comment-content .comment-row .post-avatar .sign {
    font-size: 8px;
}

.comment-header .post-title-date + a {
    font-size: 10px;
}
.comment-header .post-title-date {
    font-size: 10px;
}

.comment-content .comment-base .mt-3 {
    font-size: 2px;
}

.comment-text + .post-opt.mt-3 a, .fast-quote, [onclick="deleteComment(this)"], .hamburger-menu .menu__btn, .repostbutton, .bookmarkbutton, .complaintbutton, .post-opt.col-md-6 > a, .post-opt.col-md-6 > span, .post-likes-count, .likebutton {
    font-size: 11px;
}

.fas, .far, .tag_bar > * {
        font-size: unset;
        padding: unset;
}

.textareabg {
    margin: 20px !important;
}

.avatar-select-list {
    width: unset;
align-items: flex-start;
    flex-wrap: wrap;
}

span.comments_count a {
        font-size: 11px;
letter-spacing: 0;
}
span.comments_count span::before {
        font-size: 12px;
        padding: 0;
}

 .comments_count {
    padding: 1px 4px 1px 4px !important;
}

textarea {
min-width: auto;
}

 .my-menu.for-mobile.d-none.d-md-inline {
        display: block !important;
        z-index: 999999;
        position: fixed;
        bottom: 12px;
        right: 42px;
        background: url(https://i1.beon.fun/24/36/3624/26/1181526/9.png);
        transition: all 0.1s ease-in-out;
        font-size: 0;
        height: 26px;
        width: 26px;
} 

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"] {
        display: block !important;
        z-index: 999999;
        position: fixed;
        bottom: 12px;
        right: 10px;
        background: url(https://i1.beon.fun/24/36/3624/25/1181525/99.png);
        transition: all 0.1s ease-in-out;
        font-size: 0;
        height: 26px;
        width: 26px;
}

 .my-menu.for-mobile.d-none.d-md-inline:hover,
[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:hover {
        transform: translateY(1px);
        filter: brightness(0.74) contrast(1.9);
}

.left-menu:after {
        bottom: 10px;
        left: 10px;
        content: 'МЕНЮ';
        letter-spacing: 1px;
        margin: 20px 0px 0 0px;
        width: 60px;
        height: 26px;
        background: #f0f0f0;
        border: 1px solid #d0d0d0;
        box-shadow: inset 0 1px 0 #ffffff;
        position: fixed;
        padding: 3px 9px;
}
 
.left-menu:hover:after {
        background: #e0e0e0;
 }

div.left-menu {
        position: fixed;
        z-index: 99999;
        height: 0px;
        bottom: 40px;
        width: calc(100% - 20px);
        border: unset;
        padding: unset;
        display: block;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-left: 10px solid;
        border-right: 10px solid;
        border-color: #f0f0f0;
        box-shadow: 1px 0px 0px 0px #d0d0d0, -1px 0px 0px 0px #d0d0d0;
}
div.left-menu:hover {
        height: calc(100% - 136px);
}
#menu__toggle:checked ~ .menu__box {
    display: none;
}

.left-menu > div.mobile_open_menu > h3 {
        display: none !important;
}

::-webkit-scrollbar  {
    width: 0;
}

.left-menu h3 {
    margin: unset;
}

.left-menu > div.left-menu__user-notification,
[class^="blog_"], .left-menu__friends {
        position: unset;
        width: 100%;
        height: max-content;
        display: block !important;
        max-width: unset;
        margin: unset;
        padding: 0px 20px;
        background: white;
        box-shadow: inset 1px 0 0 0px #cacaca, inset -1px 0 0 0px #cacaca;
}

#csseditortext::-webkit-scrollbar {
    width: 20px;
}
.menu__btn {
    display: none !important;
}

#beon-fnplayer {
        display: none;
}

.blog__about .text-center {
display: none;
}

.notifications__comments h3.left-menu-text {
    position: unset;
}

.left-menu > div.left-menu__user-notification {
        padding: 0;
        resize: unset;
        box-shadow: inset 1px 0 0 0px #cacaca, inset -1px 0 0 0px #cacaca;
        border: unset;
}

.left-menu__user-notification.left-menu__unread-notifications h3 {
    position: unset;
}

.left-menu__user-notification.left-menu__unread-message {
        padding-top: 30px !important;
    }


.left-menu__user-notification a {
    padding-left: 10px;
}

.left-menu__user-notification.left-menu__unread-message p:last-of-type {
        width: unset;
        background: #f0f0f0;
        margin: 10px 10px 0px 10px;
        border: none !important;
        box-shadow: inset 0px 0px 0px 1px #d0d0d0;
        height: max-content;
        min-height: 40px;
}

.left-menu__user-notification.left-menu__unread-message img {
    margin-top: 10px;
}

.left-menu__user-notification h3 {
        box-shadow: inset 1px 0px 0 0px #cacaca, inset -1px 0px 0 0px #cacaca !important;
}
 
[action="/search"] > input {
min-height: 26px;
        font-size: 12px;
}

.post-content .user.post-title-user {
    min-width: unset;
}

.navbar + .crumbs > a:first-child, .navbar + .crumbs span.crumb-item:first-child {
display: none;
}

#newpostform [type="submit"] {
    margin: 10px 0px;
}

.comment-content .comment-row .comment-text,
.post-row > div.post-text {
    font-size: 13px;
}
